<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= grocery[0].name %></title>
  </head>
  <body>
    <h1>Grocery Name: <%= grocery[0].name %></h1>
    <h3>Price: $<%= grocery[0].price %></h3>
    <h3>Stock: <%= grocery[0].stock %></h3>
    <button>
      <a href="/groceries/<%= grocery[0].id %>/update">Update Grocery</a>
    </button>
    <button>
      <a href="/groceries/<%= grocery[0].id %>/delete">Delete Grocery</a>
    </button>
  </body>
</html>
